@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
.linear{
    background: linear-gradient(135deg, #ffc3d5 0%, #ffe5ec 50%, #ffd4e5 100%);
}
.red-text{
    font-family: "Covered By Your Grace", Sans-serif;
}
.cat::-webkit-scrollbar {
  display: none;
}